In [7]:
import pandas as pd

import pandas as pd

# Replace 'your_file.csv' with the actual path and filename



crop_data = pd.read_csv( 'crop_data.csv' )

# Display the first few rows of the data to understand its structure
crop_data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
import tensorflow as tf
print(tf.__version__)

In [8]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report

# Prepare features and labels
X = crop_data.drop('label', axis=1)
y = crop_data['label']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Gradient Boosting Classifier
gbm_model = GradientBoostingClassifier(random_state=42)

# Train the model
gbm_model.fit(X_train, y_train)

# Predict on the test set
y_pred = gbm_model.predict(X_test)

# Evaluate with accuracy score and classification report
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

# Cross-validation scores
cv_scores = cross_val_score(gbm_model, X_train, y_train, cv=5)

accuracy, report, cv_scores.mean()

(0.9818181818181818,
 '              precision    recall  f1-score   support\n\n       apple       1.00      1.00      1.00        23\n      banana       1.00      1.00      1.00        21\n   blackgram       0.95      1.00      0.98        20\n    chickpea       1.00      1.00      1.00        26\n     coconut       1.00      0.96      0.98        27\n      coffee       1.00      1.00      1.00        17\n      cotton       0.94      1.00      0.97        17\n      grapes       1.00      1.00      1.00        14\n        jute       0.82      1.00      0.90        23\n kidneybeans       1.00      1.00      1.00        20\n      lentil       0.92      1.00      0.96        11\n       maize       1.00      0.95      0.98        21\n       mango       1.00      1.00      1.00        19\n   mothbeans       1.00      0.96      0.98        24\n    mungbean       1.00      1.00      1.00        19\n   muskmelon       1.00      1.00      1.00        17\n      orange       1.00      1.00      1.00        14\n      papaya       1.00      1.00      1.00        23\n  pigeonpeas       1.00      0.96      0.98        23\n pomegranate       1.00      1.00      1.00        23\n        rice       1.00      0.79      0.88        19\n  watermelon       1.00      1.00      1.00        19\n\n    accuracy                           0.98       440\n   macro avg       0.98      0.98      0.98       440\nweighted avg       0.98      0.98      0.98       440\n',
 0.9875)